[package]
name = "ms2rescore-rs"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "ms2rescore_rs"
crate-type = ["cdylib"]

[dependencies]
pyo3 = "0.20.0"
mzdata = "0.13.0"
timsrust = "0.2.4"
